@media screen and (min-width: 40rem) {
  /* media de 640px */
  header nav {
    display: block;
    text-align: center;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card:nth-child(2n) {
    margin-top: 1rem;
  }

}

@media screen and (min-width: 48rem) {
  header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header img,
  header nav,
  header .button {
    margin: 0;
  }
}